<script src="/static/js/initial.js" data-inline></script>

<!-- RAVEN/SENTRY -->
<!-- <script src="https://cdn.ravenjs.com/3.2.1/raven.min.js"></script> -->
<!-- <script>Raven.config('https://d61d3f8d0e3345bd8ade5d364e81ec38@app.getsentry.com/87811').install();</script> -->
<!-- END RAVEN/SENTRY -->


<script src="/static/js/main.js?v={{site.version}}"></script>


<script>
    DEBUG = {
        COUNT: true /* count CSS selectors/rules */
    };
</script>

<script src="/static/js/debug.js"></script>
