/* @font-face {
    font-family: Canterbury;
    src: url('/static/fonts/canterbury.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: vaerdichvolk;
    src: url('/static/fonts/vaerdichvolk.woff');
    src: url('/static/fonts/vaerdichvolk.svg#vaerdichvolk') format('svg');
    font-weight: normal;
    font-style: normal;
}
 */
