/* Color definition
-------------------- */

$colors: (
        'header':     #efefef,
        'primary':    #a22012,
        'secondary':  #feba01,
        'white':      #ffffff,
        'black':      #000000,
        'background': #ededed,
        'grey':       #333333
);

:root {
    --color-header:    #efefef;
    --color-primary:   #a22012;
    --color-secondary:  #feba01;
    --color-white:      #ffffff;
    --color-black:      #000000;
    --color-background: #ededed;
    --color-grey:       #333333
}

// Helper

@function get-color($name) {

  @if map-has-key($colors, $name){
    @return map-get($colors, $name);
  } @else {
    @error 'Color #{$name} not found in $colors';
  }

}
