/* Footer */
.c-footer {
  background-color: var(--color-background);
  transform: translateY(100%);
  color: var(--color-grey);
  font-size: .85em;

  h3 {
    font-size: 1.15em;
    font-weight: normal;
    color: var(--color-grey);
  }

}
