/*------------------------------------*\
    #GRID
\*------------------------------------*/

.o-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -.5em;
  margin-right: -.5em;
  padding-left: -.5em;
  padding-right: -.5em;

  .o-grid__item {
    display: inline-block;
    padding-left: .5em;
    padding-right: .5em;
  }

}


/* Grid with horizontal gutter between items
----------------------------------------------- */
.o-grid--gutter-column {
  margin-left: -2em;
  margin-right: -2em;

  .o-grid__item {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.o-grid--gutter-column-s {
  margin-left: -1em;
  margin-right: -1em;

  .o-grid__item {
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* Grid with vertical gutter between items
----------------------------------------------- */
.o-grid--gutter {
  margin-top: -2em;

  .o-grid__item {
    margin-top: 2em;
  }
}

.o-grid--gutter-small {
  margin-top: -1em;

  .o-grid__item {
    margin-top: 1em;
  }
}

/* Space between grid items
----------------------------------------------- */

.o-grid--between {
  justify-content: space-between;
}


/* Center grid
----------------------------------------------- */

.o-grid--center {
  justify-content: center;
}

/* Center-text grid
----------------------------------------------- */

.o-grid--center-text {
  text-align: center;
}

/* Reverse grid order
----------------------------------------------- */

.o-grid--rev {
  flex-direction: row-reverse;
}

/* Specific grid order
----------------------------------------------- */
.o-grid--order {

  @for $i from 1 through 2 {

    .o-grid--order__#{$i} {
      order: $i;
    }
  }

  @media screen and (min-width: get-breakpoint('m')) {

    @for $i from 1 through 2 {

      .o-grid--order-image__#{$i} {
        order: $i;
      }
    }
  }
}

/* Center grids themselves
----------------------------------------------- */
.o-grid--around {
  justify-content: space-around;
}

.o-grid--end {
  justify-content: flex-end;
}

/* Column
----------------------------------------------- */
.o-grid--column {
  flex-direction: column;
  height: 100%;
  justify-content: center;

  .o-grid__item {
    height: auto;
    box-sizing: border-box;
    display:block;
  }

  &.o-grid--middle {
    align-items: center;
  }

}

