/*  Images
-------------------- */
figure {
  margin: 1em 0 .5em;
}

img {
  max-width: 100%;
}

.c-leden {

  img {
    margin-bottom: .5em;
  }
}


.c-gallery {

  .o-grid__item {
    width: 50%;

    @include respond-min('l') {
      width: 33.33333%;
    }
  }

  .c-image {
    overflow: hidden;
    max-height: 125px;

    @include respond-min('s'){
      max-height: 250px;
    }

    img {
      width: 100%;
      // min-height: 100%;
      height: auto;
    }
  }

  img {
    margin-bottom: 1em;
  }
}


//

[data-imageid] {
  display: inline-block;
  position: relative;

  &::after {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(get-color('black'), 0);
    transition: all .5s ease;
  }

  &:hover,
  &:focus {

    &::after {
      background: rgba(get-color('black'), .2);
      transition: all .5s ease;
    }
  }
}
