/*------------------------------------*\
    #TYPOGRAPY-SETTINGS
\*------------------------------------*/

$font:  Arial, sans-serif;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

$font-header: Arial;



/* Coloring
-------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
  color: get-color('header');
}

.o-stack--primary {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: get-color('secondary');
  }
}
