/* Width settings
------------------------------ */
$widths:
'1' '1'   100%,
'1' '2'   50%,
'1' '3'   33.33333%,
'2' '3'   66.66666%,
'1' '4'   25%,
'3' '4'   75%,
'1' '5'   20%,
'2' '5'   40%,
'3' '5'   60%,
'1' '6'   16.6667%,
'5' '6'   83.3333%;

/* Utils for widths
----------------------------------------------- */

// defaults
@for $j from 1 through length($widths) {

  $width:               nth($widths, $j);
  $width-fraction:      nth($width, 1);
  $width-total:         nth($width, 2);
  $width-dimensions:    nth($width, 3);

  .u-#{$width-fraction}\/#{$width-total} {
    width: $width-dimensions;
  }
}


@for $i from 1 through length($breakpoints) {
  $bp:  nth($breakpoints, $i);
  $name:  nth($bp, 1);
  $code:  nth($bp, 2);

  @include respond-min($name) {

    @for $j from 1 through length($widths) {

      $width:              nth($widths, $j);
      $width-fraction:      nth($width, 1);
      $width-total:         nth($width, 2);
      $width-dimensions:    nth($width, 3);

      .u-#{$width-fraction}\/#{$width-total}\@#{$name} {
        width: $width-dimensions;
      }

    }

  }

}
