---
layout: compress
---

<!DOCTYPE html>
<html lang="nl">

  {% include head.html %}

  <body>
    <div class="u-wrapper">

      {% if page.title == 'Kwartoverbier' %}
        <!-- needed for fb-feed -->
        <!-- {% include social.html %} -->
      {% endif %}

        {% include header.html %}

        <div id="main-content" class="main-content">
            {% if page.title == 'Kwartoverbier' %}
                {% include ja-nee.html %}
            {% endif %}
            <!-- {{ content }} -->
        </div>

        {% if page.title == 'Kwartoverbier' %}
            <!-- <section class="o-stack"> -->
              <!-- {% include fb-feed.html %} -->
            <!-- </section> -->
        {% endif %}

        {% include footer.html %}
        
      </div>

      {% include scripts.html %}

  </body>

</html>
